<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244927219305-49ba9mb7q81nria3ire9nbacu4ooia9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244927219305-49ba9mb7q81nria3ire9nbacu4ooia9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCjV76E8H7hY9MoFgNPfH2b8WsmVvcOVYY</string>
	<key>GCM_SENDER_ID</key>
	<string>244927219305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mngon.Commad</string>
	<key>PROJECT_ID</key>
	<string>commad-b582e</string>
	<key>STORAGE_BUCKET</key>
	<string>commad-b582e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244927219305:ios:8c78a51e12ec7552e6c4f8</string>
</dict>
</plist>